<div id="filtro" class="pv-70">
  <h2 class="title-template text-center fw-medium-mon text-white m-0">PROMOCIONES</h2>
</div>
<div class="container pt-70">
  <div class="row">
    <div class="col-md-6 col-xs-12 pv-21">
      <div class="media content-product p-21 flex-row">
        <div class="media-body flex-align-center">
          <h3 class="media-heading title-product text-primary-brown fw-medium-ral">Nombre de promocion</h3>
          <p class="description-product">Descripcion de promocion: Boss Orange BO 0198 / Estos auténtica Boss Orange tienen gafas de sol marcos marrón mate de poliamida D13
          son la manera perfecta para proteger los ojos de los dañinos rayos UV durante su estancia un paso por delante
          de la curva de la moda.</p>
        </div>
        <div class="media-right flex-align-center">
          <!-- <a href="#"> -->
            <img class="media-object" style="width: 140px;" src="assets/images/producto-ejemplo.jpg" alt="...">
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 pv-21">
      <div class="media content-product p-21 flex-row">
        <div class="media-body flex-align-center">
          <h3 class="media-heading title-product text-primary-brown fw-medium-ral">Boss Orange - S/.540.00</h3>
          <p class="description-product">Boss Orange BO 0198 / Estos auténtica Boss Orange tienen gafas de sol marcos marrón mate de poliamida D13
          son la manera perfecta para proteger los ojos de los dañinos rayos UV durante su estancia un paso por delante
          de la curva de la moda.</p>
        </div>
        <div class="media-right flex-align-center">
          <!-- <a href="#"> -->
            <img class="media-object" style="width: 140px;" src="assets/images/producto-ejemplo.jpg" alt="...">
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
