<!--  SECCION: FILTRO  -->
<div id="filtro" class="pv-56">
  <div class="container-md">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h3 class="text-white fw-medium-mon">FILTRO:</h3>
      </div>
      <div class="col-md-3 col-xs-12">
        <p class="text-white fw-medium-mon">PARA:</p>
        <select class="ph-14" name="" id="">
          <option value="">Damas</option>
          <option value="">Caballeros</option>
          <option value="">Niñas</option>
          <option value="">Niños</option>
        </select>
      </div>
      <div class="col-md-3 col-xs-12">
        <p class="text-white fw-medium-mon">DESDE S/. </p>
        <input class="ph-14" type="text">
      </div>
      <div class="col-md-3 col-xs-12">
        <p class="text-white fw-medium-mon">HASTA S/. </p>
        <input class="ph-14" type="text">
      </div>

    </div>
  </div>
</div>
<!--  END: SECCION: FILTRO  -->
<!--  SECCION: LISTA DE PRODUCTOS -->
<div class="container pt-70">
  <div id="lista-productos" class="row">
    <div class="col-md-6 col-xs-12 pv-21">
      <div class="media content-product p-21 flex-row">
        <div class="media-body flex-align-center">
          <h3 class="media-heading title-product text-primary-brown fw-medium-ral">Boss Orange - S/.540.00</h3>
          <p class="description-product">Boss Orange BO 0198 / Estos auténtica Boss Orange tienen gafas de sol marcos marrón mate de poliamida D13
          son la manera perfecta para proteger los ojos de los dañinos rayos UV durante su estancia un paso por delante
          de la curva de la moda.</p>
        </div>
        <div class="media-right flex-align-center">
          <!-- <a href="#"> -->
            <img class="media-object" style="width: 140px;" src="assets/images/producto-ejemplo.jpg" alt="...">
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 pv-21">
      <div class="media content-product p-21 flex-row">
        <div class="media-body flex-align-center">
          <h3 class="media-heading title-product text-primary-brown fw-medium-ral">Boss Orange - S/.540.00</h3>
          <p class="description-product">Boss Orange BO 0198 / Estos auténtica Boss Orange tienen gafas de sol marcos marrón mate de poliamida D13
          son la manera perfecta para proteger los ojos de los dañinos rayos UV durante su estancia un paso por delante
          de la curva de la moda.</p>
        </div>
        <div class="media-right flex-align-center">
          <!-- <a href="#"> -->
            <img class="media-object" style="width: 140px;" src="assets/images/producto-ejemplo.jpg" alt="...">
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 pv-21">
      <div class="media content-product p-21 flex-row">
        <div class="media-body flex-align-center">
          <h3 class="media-heading title-product text-primary-brown fw-medium-ral">Boss Orange - S/.540.00</h3>
          <p class="description-product">Boss Orange BO 0198 / Estos auténtica Boss Orange tienen gafas de sol marcos marrón mate de poliamida D13
          son la manera perfecta para proteger los ojos de los dañinos rayos UV durante su estancia un paso por delante
          de la curva de la moda.</p>
        </div>
        <div class="media-right flex-align-center">
          <!-- <a href="#"> -->
            <img class="media-object" style="width: 140px;" src="assets/images/producto-ejemplo.jpg" alt="...">
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 pv-21">
      <div class="media content-product p-21 flex-row">
        <div class="media-body flex-align-center">
          <h3 class="media-heading title-product text-primary-brown fw-medium-ral">Boss Orange - S/.540.00</h3>
          <p class="description-product">Boss Orange BO 0198 / Estos auténtica Boss Orange tienen gafas de sol marcos marrón mate de poliamida D13
          son la manera perfecta para proteger los ojos de los dañinos rayos UV durante su estancia un paso por delante
          de la curva de la moda.</p>
        </div>
        <div class="media-right flex-align-center">
          <!-- <a href="#"> -->
            <img class="media-object" style="width: 140px;" src="assets/images/producto-ejemplo.jpg" alt="...">
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--  END: SECCION: LISTA DE PRODUCTOS -->
