<header>
<div class="container pv-28">
  <div class="row flex-row">
    <div class="col-md-3 flex-align-center">
      <img src="assets/images/logo.png" class="img-responsive" alt="">
    </div>
    <div class="col-md-9 flex-align-center text-right">
      <nav>
        <a routerLink="dashboard" routerLinkActive="active" class="ph-35 text-gray-darker">PRODUCTOS</a>
        <a routerLink="promociones" routerLinkActive="active" class="ph-35 text-gray-darker">PROMOCIONES</a>
        <a routerLink="novedades" routerLinkActive="active" class="ph-35 text-gray-darker">NOVEDADES</a>
        <a routerLink="salud" routerLinkActive="active" class="ph-35 text-gray-darker">SALUD</a>
        <a routerLink="sugerencias" routerLinkActive="active" class="ph-35 text-gray-darker">SUGERENCIAS</a>
        <a routerLink="login" routerLinkActive="active" class="pl-35 text-gray-darker"><img src="assets/images/user.png" alt=""> LOGIN</a>
      </nav>
    </div>
  </div>
</div>
</header>

<router-outlet></router-outlet>
